html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-inverse {
    background-color: #ef524a;
    border-color: #ef524a;
    background-image: -webkit-linear-gradient(top, #ef524a 0, #ef524a 100%);
    background-image: -o-linear-gradient(top, #ef524a 0, #ef524a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ef524a), to(#ef524a));
    background-image: linear-gradient(to bottom, #ef524a 0, #ef524a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#992e1c', endColorstr='#892919', GradientType=0);
}

.navbar-inverse .navbar-brand {
    color: #f8f8f8;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #000000;
    background-color: transparent
}

.navbar-inverse .navbar-text {
    color: #f8f8f8;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.btn {
    background: #ef524a;
    color: #ffffff;
    font-size: 12px;
    position: relative;
}

.section,
.section-colored {
    padding: 50px 0;
}

.section-colored {
    background-color: #eae9e8;
    /* change this to change the background color of a colored section */
}

li {
    list-style-type: none;
}

li img {
    width: 80px;
    height: 80px;
    float: left;
    border: none;
}

li text {
    display: inline-block;
    margin-left: 10px;
}


.searchBar {
    background-color: #dadada;
    color: #ef524a;
    font-weight: bold;
    border-radius: 0;
    width: 400px;
    padding: 14px;
    margin: 80px auto 20px;
    position: relative;

}

.searchBar input{
    background:#dadada no-repeat 13px 13px;
    background-image: url('../resources/searchIcon.png');
    background-size: 20px;

    border: none;
    width: 100%;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #000000;
    font-weight: bold;
    outline: none;
    text-indent: 40px;

}

.searchBar input::placeholder {
    color: #000000;
}


.pizzeriaBox {
    color: #ef524a;
    background-color: #dadada;
    font-family: inherit;
    font-size: 16px;
    border-radius: 2px;
    width: 400px;
    padding: 14px;
    margin: 20px auto 20px;
    position: relative;
    cursor: pointer;

}

.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: red;
}

.menuBox {
    color: #ef524a;
    background-color: #dadada;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-align: left;

    border-radius: 2px;
    width: 600px;
    padding: 14px;
    margin: 20px auto 20px;
    position: relative;

}

.cart{
    text-align: center
}

.cartBox {
    color: #ef524a;
    background-color: #dadada;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;

    border-radius: 2px;
    width: 600px;
    padding: 14px;
    margin: 2px auto 5px;
    position: relative;

}

.orderForm input{
    background:#dadada no-repeat 13px 13px;

    border: none;
    width: 400px;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #000000;
    font-weight: bold;
    outline: none;
    text-indent: 40px;

}

.orderForm textarea{
    background:#dadada no-repeat 13px 13px;

    resize: none;
    border: none;
    width: 400px;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #000000;
    font-weight: bold;
    outline: none;
    text-indent: 40px;

}

.orderForm input::placeholder, textarea:placeholder {
    color: #000000;
}

.opinionForm textarea{
    background:#dadada no-repeat 13px 13px;

    resize: none;
    border: none;
    width: 400px;
    line-height: 19px;
    padding: 11px 0;

    border-radius: 2px;
    box-shadow: 0 2px 8px #c4c4c4 inset;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #000000;
    font-weight: bold;
    outline: none;
    text-indent: 40px;

}

/* Footer Styles */
footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    background-color: #8f282b;
    color: #ffffff;
}

footer a{
    color: #ffffff;
}