<div class="section-colored text-center">

    <div class="bar">
        <form ng-submit=submit() ng-controller="zipCodeController">
            <p><b>Wpisz kod pocztowy np. 30-069</b></p>
            <input type="text" ng-model="text" name="text"/>
        </form>
    </div>

    <!-- /.container -->
</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Polecamy!</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="https://pyszne.pl">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->


