<body class="container">
<div class="section-colored text-center" ng-controller="OrderInfoCtrl">
    <h1><p>{{info}} Status: {{status}}</p></h1>
    <div ng-show="opinion">
        <form class="opinionForm" name="opinionForm">
            <div star-rating rating-value="rating" max="5" on-rating-selected="getSelectedRating(rating) "></div>
            <textarea ng-model="comment"/><br/>
            <button class="btn" ng-click="submitOpinion()">Wyślij</button>
         </form>
    </div>
</div>
</body>