<div ng-controller="OrderCtrl">
    <form novalidate class="orderForm">
        <label>Imię i nazwisko: <input type="text" ng-model="user.name"/></label><br/>
        <label>Adres: <input type="text" ng-model="user.adress"/></label><br/>
        <label>Numer telefonu: <input type="text" ng-model="user.phoneNumber"/></label><br/>
        <label>E-mail: <input type="email" ng-model="user.email"/></label><br/>
        <label>Komentarz: <textarea ng-model="user.comment"/></label><br/>
        <input type="submit" ng-click="addOrder(user)" value="Save"/>
    </form>


    <div ng-if="paypalButtonVisible"><paypal-button env="opts.env" client="opts.client" payment="opts.payment" commit="opts.commit"
                   on-authorize="opts.onAuthorize"></paypal-button></div>
</div>