<body class="container">
<div ng-controller="PizzeriaListCtrl">


    <h1>Pizzerie dostarczajace dla kodu: {{zipCode}}</h1>
    <br/>

    <div class="pizzeriaList">
        <ul>

            <li ng-repeat="i in items">
                <div class="pizzeriaBox">
                    <img ng-src="{{i.image}}"/></a>
                    <p>{{i.name}}</p>
                    <p>Ocena: {{i.rating}}</p>
                    <p><i>{{i.description}}</i></p>
                    <button class="btn" ng-click="redirect(i.url)">Menu</button>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</body>