<body class="container">"

<h1>Menu: {{url}}</h1>
<br/>

<br/>
<div class="searchBar" ng-controller="PizzeriaCtrl">
    <li ng-repeat="i in items">
        <div class="pizzeriaBox">
            <p>{{i.name}} </p>
            <p>{{i.data}}</p>
            <p>{{i.price}}</p>

            <button class="btn" ng-click="decrease(i)">-</button>
           {{i.quantity}}
            <button class="btn" ng-click="increase(i)">+</button>
            <button class="btn" ng-click="addToCart(i.id, i.name, i.price, i.quantity)">Dodaj do koszyka</button>
        </div>
    </li>
</div>
</body>